.hypothesis/
__pycache__
output.png
fewshot-data/
checkpoints/
records.db
server.py
examples/*grounding.png
archive*
hostfile
runs/
.deepspeed_env
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.idea/
model/cogagent-vqa/1/mp_rank_00_model_states.pt
*.pt
*.lock
