.hypothesis/
__MACOSX/
**/__MACOSX/
__pycache__
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
**/*.egg
output.png
fewshot-data/
checkpoints/
records.db
server.py
examples/*grounding.png
archive*
hostfile
runs/
.deepspeed_env
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/build
**/dist
model/cogagent-vqa/1/mp_rank_00_model_states.pt
utils/models/mmcv-1.4.7/
apex/*
*.pth
*.pt
*.bin
*.h5
*.ckpt
*.log
*.txt
screenlog.*
*.lock
